body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scrollbar-arrow-color:#000000;
  scrollbar-3dlight-color:#000000;
  scrollbar-highlight-color:#FF0000;
  scrollbar-face-color:#FFFFFF;
  scrollbar-shadow-color:#0000FF;
  scrollbar-darkshadow-color:#FFFF00;
  scrollbar-track-color:#00FF00;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
